<h1>Your gas bills</h1>
<% if @gas_bills.length == 0 %>
<h2>Please <%= link_to "add", "/users/#{@current_user.id}/gas_bills/new" %> an gas bill</h2>
<% else %>
  <% @gas_bills.each do |bill| %>
    <h2 class = "billStat">
      <%= bill.amount %>
      <span class="billDate"><%= bill.month %> <%= bill.year %></span>
    </h2>
  <% end %>
<% end %>
